/*/ Footer /*/

footer {
    text-align: center;
}

footer .container {
    display: grid;
}

footer p,
footer i {
    font-size: 20px;
    padding: 0px 15px;
    color: #FF8793;
}

footer .socialMedia p:hover {
    color: #1E1E5E;
    transition: 0.3s ease;
}

footer .title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    padding-bottom: 15px;
}

footer a {
    text-decoration: none;
}

footer .copyright {
    padding-top: 20px;
    font-size: 15px;
    color: rgb(51, 51, 51);
}

/*/ Responsive design - max-width: 375px /*/

@media (max-width: 375px) {

    /*/ Footer /*/

    footer p {
        font-size: 17px;
        padding: 0px 15px;
        color: #FF8793;
    }

    footer .socialMedia {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}